<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #f0f0f0;
    }
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    #bin-search-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        width: 80%;
        max-width: 600px;
    }
    .filter-list {
        margin: 10px 0;
        list-style-type: none;
        padding: 0;
    }
    .filter-list h3 {
        margin: 10px 0;
    }
    #bin-search {
        margin: 10px 0;
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
    }
    #bin-table-wrapper {
        width: 80%;
        max-width: 600px;
        margin: 20px 0;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        padding: 10px;
        text-align: left;
    }
    th {
        background-color: #f4f4f4;
    }
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    .selected {
        color: #ff0000 !important;
        border-color: #ff0000 !important;
    }
</style>

<h1>Credflix</h1>
<p style="text-align: center;">Credflix is a comprehensive resource for default credentials, designed to assist penetration testers during engagements. This project aggregates default login/password combinations gathered from multiple sources to streamline the process of accessing various devices and applications.</p>
<p style="text-align: center;">Find the project at <a href="https://github.com/Ant-ONE/Credflix">Credflix</a>.</p>
<p style="text-align: center;">This project was created by <strong>Ant-ONE</strong></p>

<div id="bin-search-wrapper">
    <input id="bin-search" type="text" placeholder="Search among all commands..." />
</div>

<div id="bin-table-wrapper">
    <table id="bin-table">
        <thead>
            <tr>
                <th>Command</th>
            </tr>
        </thead>
        <tbody>
            {% assign all_files = "" %}

            {% assign all_data = site.data.applications | push: site.data.network %}
            {% assign all_data = all_data | push: site.data.security %}
            {% assign all_data = all_data | push: site.data.infrastructure %}
            {% assign all_data = all_data | push: site.data.iot %}
            {% assign all_data = all_data | push: site.data.telecom %}

            {% if all_data.size == 0 %}
                <tr>
                    <td colspan="1" style="text-align: center;">No credentials found.</td>
                </tr>
            {% else %}
                {% for file in all_data %}
                <tr>
                    <td>
                        <div class="bin-name">
                            <div style="flex: 0 0 97%">
                                <a href="{{ file.url }}" id="{{ file.url }}" style="text-decoration: none; color: DarkGreen;">{{ file.label | escape }}</a>
                            </div>
                            <div style="flex: 1;">
                                <a href="javascript:void(0)" onClick="copyFunction('{{ file.url }}')"><img src="/assets/copy-button.svg" alt="Copy" title="Copy" id="{{ file.url }}_img"/></a>
                            </div>
                        </div>
                        <p style="margin-top: -12px;">{% include filter_list.html bin=file %}</p>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td id="search-message" colspan="1" style="text-align: center;">
                    Couldn't find the command you're looking for? 
                    <strong><a href="https://github.com/Ant-ONE/Credflix/issues/new">Report it here</a></strong>.
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<script>
    const searchBox = document.getElementById('bin-search');
    const binTable = document.getElementById('bin-table');
    const binRows = binTable.getElementsByTagName('tr');

    searchBox.addEventListener('input', function() {
        const searchTerm = searchBox.value.toLowerCase();
        for (let i = 1; i < binRows.length; i++) { // Skip the header
            const row = binRows[i];
            const command = row.textContent.toLowerCase();
            if (command.includes(searchTerm)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        }
    });

    function copyFunction(file_url) {
        var copyCommand = document.getElementById(file_url);
        navigator.clipboard.writeText(copyCommand.innerText).then(() => {
            alert("Copied the command: " + copyCommand.innerText);
        });
    }
</script>
